<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/style.css"/>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <% if(!userSession || userSession === "undefined"){ %>
            <div id="navbar">
                <% include navLogIn.ejs %>
            </div>

            <% }else{ %>
            <div id="navbar">
                <% include navLogOut.ejs %>
            </div>
            <% } %>
            <div class="row">
                <div class="col-md-12" style="padding:0px">
                    <div class="row mainBar">
                        <div class="col-md-6">
                            <% if(!userSession){ %>
                            <div id="alerts">
                                <% if (success && resource == 'signIn'){ %>
                                <section class="success">
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h2>Successful Validation! You are registered.</h2>
                                    </div>
                                </section>
                                <% }else{ %>
                                <% if(errors){ %>
                                <section class="errors">
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <ul>
                                            <% errors.forEach(function(error){ %>
                                            <li><%= error.msg %></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </section>

                                <% } %>
                                <% } %>
                            </div>

                        <% } %>
                        </div>
                        <!--sign in log in-->
                        <div class="col-md-6">


                            <div style="display: none" id="signInForm">
                                <% include signIn.ejs %>
                            </div>
                            <div style="display: none" id="logInForm">
                                <% include logIn.ejs %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-inline search_form" action="searchForm" method="post">
                                <input class="form-control mr-sm-2" type="text" name="searchValue"/>
                                <button class="btn btn-primary my-2 my-sm-0" type="submit" id="searchButton">
                                    Search
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                        <% if(userSession && chosenElement) { %>


                            <div class="btn-group-float-right edit_buttons" role="group">

                                <button class="btn btn-secondary" onclick="changeToForm()" type="button">
                                    Improve
                                </button>
                                <button class="btn btn-secondary" onclick="javascript:window.location.reload(true)"
                                        type="button">Back
                                </button>
                                <div class="btn-group">

                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        See Version
                                    </a>
                                    <div class="dropdown-menu">
                                        <% if(versions){ %>
                                        <% versions.forEach(function(version){ %>
                                        <a class="dropdown-item btn-group"
                                           href='/see?v=<%= version.versionNumber %>&rid=<%= place.ID %>'><%= version.versionNumber %></a>

                                        <% }); } %>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <!--<div id="tree"></div>-->
                            <div class="list-group">
                                <div class="list-group-item active">
                                    <h4 class="list-group-item-heading">
                                        Voivodeships
                                    </h4>
                                </div>
                                <% administration.voivodeships.forEach(function(adm){ %>
                                <div class="list-group-item list-group-item-action">
                                    <span href="#<%= adm.name %>" data-toggle="collapse"
                                          class="iconPlus">+</span>
                                    <a href="/sortByCountry?v=<%= adm.name %>"><%= adm.name %></a>
                                </div>

                                <div id="<%= adm.name %>" class="panel-collapse collapse countries">
                                    <div class="list-group-item list-group-item active">
                                        <h6 class="list-group-item-text">
                                            Countries
                                        </h6>
                                    </div>
                                    <% adm.countries.forEach(function(count){ %>

                                    <a href="/sortByCountry?country=<%= count.name %>&v=<%= adm.name %>"
                                       class="list-group-item list-group-item-action "><%= count.name %></a>
                                    <% }); %>
                                </div>
                                <% }); %>
                            </div>


                        </div>
                        <div class="col-md-10">
                        <% if(chosenElement){ %>
                        <% include placeInfo.ejs %>
                        <% }else{ %>
                        <% include searchResult.ejs %>
                        <% } %>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Okkk down in Help and about section-->
        <% include about.ejs %>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/google_map.js"></script>
<script src="javascripts/jquery.loupe.min.js"></script>

<script>$('#dictionary_scan').loupe();</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFIRySRCulh5sctkrYE3ODCbOzc2AmPSo&callback=initMap"
        async defer></script>
<script>

    var url = new URL(window.location);
    var $resource = url.searchParams.get('resource');
    var $success = url.searchParams.get('status');
    if ($resource != null) {
        if ($resource == 'logIn' && !$success) {
            document.getElementById('logInForm').style.display = 'block';
        }
    } else if ($resource == 'signIn' && !$success) {
        document.getElementById('signInForm').style.display = 'block';
    } else {
    }
    if ($success == null) {
        document.getElementById('logInForm').style.display = 'none';
        document.getElementById('signInForm').style.display = 'none';
    }

    $('#signIn').click(function () {
        document.getElementById('signInForm').style.display = 'block';
        document.getElementById('logInForm').style.display = 'none';
        if ($resource != null) {
            if ($success) {
                document.getElementById('alerts').style.display = 'none';
            } else if ($resource == 'logIn') {
                document.getElementById('alerts').style.display = 'none';
            }
        }
    });
    $('#logIn').click(function () {
        document.getElementById('signInForm').style.display = 'none';
        document.getElementById('logInForm').style.display = 'block';
        if ($resource != null) {
            if ($success) {
                document.getElementById('alerts').style.display = 'none';
            } else if ($resource == 'signIn') {
                document.getElementById('alerts').style.display = 'none';
            }
        }
    });

</script>


</body>
</html>
